.base {
  background: #121213;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  width: 30rem;
  display: flex;
  flex-direction: column;
}

.wordsWrapper {
  height: 10rem;
  overflow-y: auto;
}

.button {
  margin-bottom: 1rem;
}
